<style>
	table {
		border-collapse: collapse;
	}

	table, td, th {
		border: 1px solid black;
	}
	
	
	@media print 
	{
	   @page
	   {
		size: 3.5in 5in;
		size: portrait;
	  }
	}
	
	body { font-size: 20px; }
	
</style>

<body>
	<div>
		<label> <strong>{{ business_name }}</strong> </label> </br>
		<label>Sales Receipt</label> </br>
		<label>Customer: {{ sales_customer }}</label>
	</div>
	<div>
		<table>
			<thead>
				<th>Item</th>
				<th>Quantity</th>
				<th>Cost</th>
			<thead>			

			<tbody>
				{% for row in printer_rows %}
				<tr>
					{% for item in row %}
					<td> {{ item }}</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<div> <label>Total: {{ printer_total }} </label> </div>
	<div> <label>Amount paid: {{ printer_amount_paid }}</label> </div>
	<div> <label>Outstanding: {{ printer_outstanding }}</label> </div>
</body>

<script>
	window.onload = function(){
		window.print();
	}
</script>

<!-- <tbody> -->
	<!-- <tr> -->
		<!-- <td>Paracetamol</td> -->
		<!-- <td>5</td> -->
		<!-- <td>N500</td> -->
	<!-- </tr> -->
	<!-- <tr> -->
		<!-- <td>Book</td> -->
		<!-- <td>2</td> -->
		<!-- <td>N300</td> -->
	<!-- </tr> -->
<!-- </tbody> -->